<!--<table bgcolor="#2C2C2C" width="100%">-->
<!--  <tr>-->
<!--    <td><img id="logo_img" src="http://www.intelatek.com/images/intelatek-logo.png" alt="Intelatek logo"></a></td>-->
<!--  </tr>-->
<!--</table>-->

<center><h4>New 
      <% if @prospect.hcs_prospect == true %>
        HealthCare Savings 
      <% elsif @prospect.pay_prospect == true %>
          Instant Pay 
      <% else %>
        (IntelaTek BDA failed to enter service type) 
      <% end %>
      
      <% if @prospect.intelatek_lead_type? %>
        <u><%= @prospect.intelatek_lead_type %></u> 
      <% else %>
        (IntelaTek BDA failed to enter lead type) 
      <% end %>
       Scheduled by IntelaTek for <%= @prospect.user.advisor_first_name %> <%= @prospect.user.advisor_last_name %></h4></center>

<p>&nbsp;</p>

<p><%= @prospect.user.advisor_first_name %>,</p>

<p>We just scheduled a <% if @prospect.intelatek_lead_type? %>
                          <strong><%= @prospect.intelatek_lead_type %></strong> 
                        <% else %>
                          (IntelaTek BDA failed to enter lead type) 
                        <% end %>
                        for you.  The event has been added to the CRM and added to your calendar through Calendly, based on your availability.  The details are below.</p>

<p>Company name: <%= @prospect.organization %></p>
<p>Address:  <%= @prospect.street_address %>, <%= @prospect.address2 %>, <%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %></p>
<p>Contact Name: <%= @prospect.contact1_first_name %> <%= @prospect.contact1_last_name %>, <%= @prospect.contact1_title %></p>
<p>Phone: <%= @prospect.phone %></p>
<p>Employees: <%= @prospect.employees %></p>
<p>
  <%= @prospect.intelatek_day %> 
                                <% if !@prospect.intro_presentation_date.nil? %>
                                    <%= @prospect.intro_presentation_date.strftime("%m/%d/%Y") %> 
                                <% elsif !@prospect.pay_intro_presentation_date.nil? %>
                                        <%= @prospect.pay_intro_presentation_date.strftime("%m/%d/%Y") %> 
                                <% else %>
                                    (IntelaTek BDA Failed to enter the meeting date) 
                                <% end %>
   at <%= @prospect.intelatek_time %> <%= @prospect.intelatek_timezone %>
</p>
<p><i><%= @prospect.intelatek_notes %><i></p>
<p>Set by IntelaTek BDA:  <%= @prospect.intelatek_bda %></p>
<p>Thanks,</p>
<p>IntelaTek Support<br>
support@intelatek.com</p>