<!--<table bgcolor="#2C2C2C" width="100%">-->
<!--  <tr>-->
<!--    <td><img id="logo_img" src="http://www.intelatek.com/images/intelatek-logo.png" alt="Intelatek logo"></a></td>-->
<!--  </tr>-->
<!--</table>-->

<center><h4>New 
      <% if @prospect.hcs_prospect == true %>
        HealthCare Savings 
      <% elsif @prospect.pay_prospect == true %>
          Instant Pay 
      <% elsif @prospect.vcp_prospect == true %>
          Virtual Cards 
      <% else %>
        (IntelaTek BDA failed to enter service type) 
      <% end %>
      
      <% if @prospect.intelatek_lead_type? %>
        <u><%= @prospect.intelatek_lead_type %></u> 
      <% else %>
        (IntelaTek BDA failed to enter lead type) 
      <% end %>
       Scheduled by IntelaTek for <%= @prospect.user.advisor_first_name %> <%= @prospect.user.advisor_last_name %></h4></center>

<p>&nbsp;</p>

<p><%= @prospect.user.advisor_first_name %>,</p>

<p>We just scheduled a <% if @prospect.intelatek_lead_type? %>
                          <strong><%= @prospect.intelatek_lead_type %></strong> 
                        <% else %>
                          (IntelaTek BDA failed to enter lead type) 
                        <% end %>
                        for you.  The event has been added to the CRM and added to your calendar through Calendly, based on your availability.  The details are below.</p>

<p>Company name: <%= @prospect.organization %></p>
<p>Address:  <%= @prospect.street_address %>, <%= @prospect.address2 %>, <%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %></p>
<p>Contact Name: <%= @prospect.contact1_first_name %> <%= @prospect.contact1_last_name %>, <%= @prospect.contact1_title %></p>
<p>Phone: <%= @prospect.phone %></p>
<% if @prospect.employees? %>
  <p>Employees: <%= @prospect.employees %></p>
<% end %>
<p>
  <%= @prospect.intelatek_day %> 
                                <% if !@prospect.intro_presentation_date.nil? %>
                                    <%= @prospect.intro_presentation_date.strftime("%m/%d/%Y") %> 
                                <% elsif !@prospect.pay_intro_presentation_date.nil? %>
                                        <%= @prospect.pay_intro_presentation_date.strftime("%m/%d/%Y") %> 
                                <% elsif !@prospect.vcp_intro_presentation_date.nil? %>
                                        <%= @prospect.vcp_intro_presentation_date.strftime("%m/%d/%Y") %> 
                                <% else %>
                                    (IntelaTek BDA Failed to enter the meeting date) 
                                <% end %>
   at <%= @prospect.intelatek_time %> <%= @prospect.intelatek_timezone %>
</p>
<p><i><%= @prospect.intelatek_notes %></i></p>
<p>Set by IntelaTek BDA:  <%= @prospect.intelatek_bda %></p>
<p>&nbsp;</p>

<% if @prospect.vcp_prospect %>
<p><strong>Best Practices for Virtual Card Payment Scheduled Leads</strong></p>
  <ul>
    <ol>1) When you receive a lead, we suggest that you do NOT send an additional email.  We see where some advisors will send an email in advance, after the prospect has already received one, and trying to gauge their interest to see if it is worth their time to try to do the presentation.  If you do this, your likely going to throw away a potential opportunity.<br><br></ol>
    
    <ol>2) Have your Uberconference, or Join me or whatever you are using to share your screen, open and ready to go, a few minutes prior to the scheduled time, just in case they show up to your shared screen. Also have an email ready to send to the prospect with your Screenshare link in case you need to send it to them which is easier than trying to give the URL over the phone.<br><br></ol>
    
    <ol>3) Call the prospect by phone AT the scheduled time, and when the contact answers the phone, say: “Hi Tom, this is {Your Name}, you spoke with {IntelaTek Caller's name}, in my office, on {day they spoke} and scheduled a call for today at 2:00 to discuss virtual payments for accounts payable, are you in front of your computer?”  Avoid having a conversation with them, your sole objective, at this point, is just to get them to their computer screen.<br>
    <br></ol>
    
    <ol>4) Unfortunately, you’re going to get a voicemail, more often than not.  So next we’re going to call the main number, and try to get a receptionist or dial an option for accounting or for Accounts payable.  When the receptionist answers, say:  “I have a 2:00 call scheduled with Tom Smith, I'm getting his voicemail, is he in today?”  Your objective here is to get the receptionist to try to hunt the contact down and get transferred to them.  Don't give the receptionist your name unless you are asked specifically for it.  Likewise don't tell the receptionist what company you are with or what the call is about unless specifically asked.  You want to be careful not to try to sell the receptionist, because you will only do the opposite.  They have nothing to do with what you are calling about so to overshare would seem odd and would raise their defenses.  You know that you did it wrong if the receptionist won’t help you and especially if the receptionist tells you that they are not interested.<br>
    <br></ol>

    <ol>5) You will find that often times, you will wait and ultimately the receptionist transfers you to a voicemail.  So you call again, and again, until you reach them.  It might be the first call or the fifth or sixth call.  It takes an average of 6 dial attempts to reachyour prospect. be sure to leave a message on one of your attempts so that they know that you tried, as you do not want them to think that you never called.<br>
    <br></ol>
    
    <ol>6) When the contact answers the phone, but it’s no longer the scheduled time, for instance maybe it’s the next day, say: “Hi Tom, this is {Your Name}, you spoke with {IntelaTek Caller's name}, in my office, on {day they spoke} and scheduled a call for {yesterday, last Tuesday, etc.} at 2:00 to discuss virtual payments for accounts payable, are you in front of your computer?”  Of course they are in front of their computer.  Again, avoid having a conversation with them, your sole objective, at this point, is just to get them to their computer to view your presentation.<br>
      <br></ol>
    
    <ol>7) Once you have them getting onto the computer screen, say:  “The presentation that I have for you, usually takes just under 10 minutes.  I’ll be moving fast to be respectful of your time, and then I’ll be happy to answer your questions at the end, and you can let us know afterwards if you’re interested in possibly pursuing this further. Fair enough?”<br>
    <br></ol>
  </ul>

<% elsif @prospect.hcs_prospect %>
  <p><strong>Best Practices for Face to Face HealthCare Savings Meetings</strong></p>
  <ul>
    <ol>1) We suggest that you do NOT reach out to prospect's prior to a meeting.<br>
    <br></ol>
    <ol>2) Upon arrival, tell the receptionist: “I have a 2:00 meeting scheduled with Tom Smith”  Don't give the receptionist your name, your company name, or purpose of the meeting unless and until specifically asked.<br>
    <br></ol>
    <ol>3) Upon greeting the contact, say: “Hi Tom, I'm {Your Name}, you spoke with {IntelaTek Caller's name}, in my office, on {day they spoke}, and we had a quick meeting scheduled for today 2:00 to discuss how we may be able to help you reduce your health benefit costs."  If they say something like "was that today", or "did we have a meeting", you should respond with just one word... "Yes".  They will then bring you to their office or conference room.  They definitely did set the meeting, and they know that they set the meeting, but they may not be excited about a perceived sales call.<br>
    <br></ol>
  </ul>

<% elsif @prospect.pay_prospect %>
  <p><strong>Best Practices for Face to Face Same Day Pay Meetings</strong></p>
  <ul>
    <ol>1) We suggest that you do NOT reach out to prospect's prior to a meeting.<br>
    <br></ol>
    <ol>2) Upon arrival, tell the receptionist: “I have a 2:00 meeting scheduled with Tom Smith”  Don't give the receptionist your name, your company name, or purpose of the meeting unless and until specifically asked.<br>
    <br></ol>
    <ol>3) Upon greeting the contact, say: “Hi Tom, I'm {Your Name}, you spoke with {IntelaTek Caller's name}, in my office, on {day they spoke}, and we had a quick meeting scheduled for today 2:00 to discuss how we are helping employers to provide same day access to their alreday earned wages."  If they say something like "was that today", or "did we have a meeting", you should respond with just one word... "Yes".  They will then bring you to their office or conference room.  They definitely did set the meeting, and they know that they set the meeting, but they may not be excited about a perceived sales call.<br>
    <br></ol>
  </ul>

<% end %>

<p>Thanks,</p>
<p>IntelaTek Support<br>
support@intelatek.com</p>