<h4>New HCSQ Submitted</h4>
<p><em>A copy of this email has been sent to Consultant and SME.</em></p>
<p>&nbsp;</p>
<p>Consultant's Name: <em><%= @prospect.user.advisor_first_name + ' ' + @prospect.user.advisor_last_name %></em></p>
<p>SME Fact Finding Call: <% if !@prospect.hcs_sme_fact_finding_call_date.nil? %></em>
  		  <em><%= @prospect.hcs_sme_fact_finding_call_date.strftime("%m/%d/%Y") %></em><% end %></em></p>
<p>&nbsp;
<p>Prospect Company or Organization Name: <em><%= @prospect.organization %></em></p>
<p>Address:  <em><%= @prospect.street_address %></em>, <em><%= @prospect.address2 %></em>, <em><%= @prospect.city %></em>, <em><%= @prospect.state %></em> <em><%= @prospect.zip %></em></p>
<p>&nbsp;</p>
<p>Phone: <em><%= @prospect.phone %></em></p>
<p>Employees: <em><%= @prospect.employees %></em></p>
<p>Website: <em><%= @prospect.website %></em></p>
<p>&nbsp;</p>
<strong>Contact 1</strong>
<p>Name: <em><%= @prospect.contact1_first_name %></em> <em><%= @prospect.contact1_last_name %></em>, <em><%= @prospect.contact1_title %></em></p>
<p>Direct Phone/Ext: <em><%= @prospect.contact1_phone %></em></p>
<p>Mobile: <em><%= @prospect.contact1_mobile %></em></p>
<p>Email: <em><%= @prospect.contact1_email %></em></p>
<p>&nbsp;</p>
<strong>Contact 2</strong>
<p>Name: <em><%= @prospect.contact2_first_name %></em> <em><%= @prospect.contact2_last_name %></em>, <em><%= @prospect.contact2_title %></em></p>
<p>Direct Phone/Ext: <em><%= @prospect.contact2_phone %></em></p>
<p>Mobile: <em><%= @prospect.contact2_mobile %></em></p>
<p>Email: <em><%= @prospect.contact2_email %></em></p>
<p>&nbsp;</p>
<p>Notes: <em><%= @prospect.prospect_note %></em></p>

<hr>

<p>Nature of Business or SIC Code: <em><%= @prospect.hcbq_business_type %></em></p>
<p># of Eligible Employees: <em><%= @prospect.hcbq_no_of_eligible_employees %></em></p>
<p>Total Participating: <em><%= @prospect.hcbq_total_participation %></em></p>
<p>Current Carrier: <em><%= @prospect.hcbq_current_carrier %></em></p>
<p>Current Coverage Type: <em><%= @prospect.hcbq_current_coverage_type %></em></p>
<p>1) What is your total annual healthcare expenditure?  (employer & employee contributions)<br>
<em><%= @prospect.current_health_benefit_cost %></em></p>
<p>2) For you & your employees, what are the 3 most important elements of your health plan?<br>
<em><%= @prospect.hcbq_most_important %></em></p>
<p>3) Do you think the last 3 years of compounding increases in your health benefit costs would be sustainable if continued for the next three years?<br>
<em><%= @prospect.hcbq_sustainable %></em></p>
<p>4) Do you think your employees can afford their deductible & out-of-pocket expense under your current plan?<br>
<em><%= @prospect.hcbq_oop %></em></p>
<p>5) What do you like best about your health plan?<br>
<em><%= @prospect.hcbq_like_best %></em></p>
<p>6) What do you like least about your health plan?<br>
<em><%= @prospect.hcbq_like_least %></em></p>
<p>7) On a scale of 1 to 10, how would you rate your current agent/broker/ant?<br>
<em><%= @prospect.hcbq_scale %></em></p>
<p>8) If you could design the perfect benefit plan for your company what would it look like?<br>
<em><%= @prospect.hcbq_perfect_plan %></em></p>
<p>HCSQ Notes<br>
<em><%= @prospect.hcbq_notes %></em></p>