<p><%= @prospect.contact1_first_name %>,</p>

<p>It was great speaking with you today.</p>

<p>As we discussed, we're not brokers and we don't sell insurance, but we do help organizations to reduce their health benefit costs by 10 to 30%, and sometimes much more, by focusing on reducing the claims $$ paid.  This quick video talks about how we help our clients to reduce their health benefit costs http://healthcaresavings.co</p>

<p><%= @prospect.user.advisor_first_name %> <%= @prospect.user.advisor_last_name %> looks forward to speaking with you on 
	<%= @prospect.intelatek_day %>  <% if !@prospect.intro_presentation_date.nil? %>
    	                              <%= @prospect.intro_presentation_date.strftime("%m/%d/%Y") %> 
        	                        <% end %> 
 and sharing more about how we help organizations to increase profit by reducing expenses, recovering overcharges, and taking advantage of available tax incentives.</p>

<p>Thanks,</p>

<p><%= @prospect.intelatek_bda %><p>