<img src="http://intelatek.com/images/intelatek-logo.png">
<p>&nbsp;</p>
<h4>New Meeting Scheduled</h4>

<p><%= @prospect.user.advisor_first_name %>,</p>
<p>We just scheduled a meeting for you.  The meeting has been added to the CRM and your calendar through Calendly, based on your availability.  The meeting details are below.</p>
<p>Company name: <%= @prospect.organization %></p>
<p>Address:  <%= @prospect.street_address %>, <%= @prospect.address2 %>, <%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %></p>
<p>Contact Name: <%= @prospect.contact1_first_name %> <%= @prospect.contact1_last_name %>, <%= @prospect.contact1_title %></p>
<p>Phone: <%= @prospect.phone %></p>
<p>Employees: <%= @prospect.employees %></p>
<p><%= @prospect.intelatek_day %> <%= @prospect.intro_presentation_date %></p>
<p><%= @prospect.intelatek_time %> <%= @prospect.intelatek_timezone %></p>
<p><%= @prospect.intelatek_notes %></p>
<p>Set by IntelaTek BDA:  <%= @prospect.intelatek_bda %></p>
<p>&nbsp;</p>
<p>Thanks,</p>
<p>IntelaTek Support<br>
support@intelatek.com</p>