<center><h4>A New Prospect has been added by for <%= @prospect.user.advisor_first_name %> <%= @prospect.user.advisor_last_name %></h4></center>

<p>&nbsp;</p>

<p>Company name: <%= @prospect.organization %></p>
<p>Address:  <%= @prospect.street_address %>, <%= @prospect.address2 %>, <%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %></p>
<p>Contact Name: <%= @prospect.contact1_first_name %> <%= @prospect.contact1_last_name %>, <%= @prospect.contact1_title %></p>
<p>Phone: <%= @prospect.phone %></p>
<p>Employees: <%= @prospect.pay_hourly_employees %></p>