<% if current_user.manager || current_user.staff %>
  <div class="col-md-8 col-md-offset-2">

	<div class="panel panel-gray">
	  <div class="panel-heading">
	  	
	  	<div class="row">
	  		<div class="col-md-3">
          <h4>Listing <%= User.count %> Users</h4>
	  		</div>
	  		<div class="col-md-4">
      		<%= form_tag(users_path, :method => "get", id: "search-form") do %>
      			<%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
      			<%= submit_tag "Search", class:"btn btn-slate btn-sm" %>
      		<% end %>
	  		</div>
	  		<div class="col-md-2">
          <%= link_to "Export Users", export_users_path(format: "csv"), class: "btn btn-beige btn-xs" %>
	  		</div>	  		

	  		<div class="col-md-3">
					<% if current_user.admin %>
					  <%= form_tag import_users_path, multipart: true do %>
					  <%= file_field_tag :file %><%= submit_tag "Import Users", class:"btn btn-danger btn-xs" %>
					  <% end %>
					<% end %>
	  		</div>
	  	</div>
	  	
	  </div>

  	<div class="prospect-show">
  
    	<div class="prospect-show table-responsive">
        <table class="table table-sm index-table table-condensed">
          <thead>
            <tr>
              <th colspan="4"></th>
              <th colspan="3">Prospects</th>
              <th colspan="2">Vendor</th>
              <th colspan="3">Permissions</th>
            </tr>
              <th class="th-left">Name</th>
              <th>
                <div class="status">
  				      	<li class="dropdown">
  								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>State </strong><span class="caret"></span></a>
  								  <ul class="dropdown-menu dropdown-menu-right status-menu" style="list-style: none;">
  								    <li><%= link_to "All", users_path %></li>
  								    <% @state.each do |h| %>
  								      <li class="black"><%= link_to "#{h.state}", users_path(state: h.state) %></li>
  								    <% end %>
  								  </ul>
  								</li>
  							</div>
  						</th>

              <th>Last Logged In</th>
              <th>Group</th>
              <th>Total</th>
              <th>HCS</th>
              <th>Pay</th>
              <th>Entrust</th>
              <th>Branch</th>
              <th>Admin</th>
              <th>Manager</th>
              <th>Staff</th>
              <% if current_user.intelatek || current_user.admin %>
                <th>IntelaTek</th>
              <% end %>
            </tr>
          </thead>
                  
          <tbody>
            <% @users.order(:advisor_first_name).each do |user| %>
              <tr>
              	<td class="td-left"><%= link_to user.advisor_name, user %></td>
              	<td style="vertical-align:middle"><%= user.state %></td>              	
              	<td style="vertical-align:middle">
              	  <% if user.current_sign_in_at %>
              	    <%= time_ago_in_words(user.current_sign_in_at) if user.current_sign_in_at %> ago
              	  <% else %>
              	    Never
              	    <% end %>
              	</td>
              	<td style="vertical-align:middle"><%= user.group %></td>
              	<td style="vertical-align:middle"><%= user.prospects.size %></td>
              	<td style="vertical-align:middle"><%= user.prospects.where(hcs_prospect: true).count %></td>
              	<td style="vertical-align:middle"><%= user.prospects.where(pay_prospect: true).count %></td>
              	<td style="vertical-align:middle">
              	  <% if user.entrust == true %><span class="glyphicon glyphicon-ok"></span><% end %></td>
              	<td style="vertical-align:middle">
              	  <% if user.branch == true %><span class="glyphicon glyphicon-ok"></span><% end %></td>
              	<td style="vertical-align:middle">
              	  <% if user.admin == true %><span class="glyphicon glyphicon-ok"></span><% end %></td>
              	<td style="vertical-align:middle">
              	  <% if user.manager == true %><span class="glyphicon glyphicon-ok"></span><% end %></td>
              	<td style="vertical-align:middle">
              	  <% if user.staff == true %><span class="glyphicon glyphicon-ok"></span><% end %></td>
                <% if current_user.intelatek || current_user.admin %>
                  <td style="vertical-align:middle">
              	  <% if user.intelatek == true %><span class="glyphicon glyphicon-ok"></span><% end %></td>
                <% end %>
      		    </tr>
        		<% end %>
        		
          </tbody>
        		<tr><td colspan="13" style="text-align:middle"><%= will_paginate @users, renderer: BootstrapPagination::Rails %></td></tr>
          
        </table>

      </div>

    </div>
		<div class="panel-footer center">
		  <p><em>Only managers & staff can see this page.</em></p>
		</div>        

  </div>
<% end %>