<% if current_user.manager || current_user.support %>

  <div class="col-md-4 col-md-offset-4">
  	<div class="panel panel-gray">
      <div class="panel-heading">
        <h4><%= @user.advisor_first_name + ' ' + @user.advisor_last_name %></h4>
      </div>
      <div class="prospect-show">
        <table valign="middle">
          <tr>
            <td>Phone: </td><td><%= @user.advisor_phone %></td>
          </tr>
          <tr>
            <td>Mobile: </td><td><%= @user.advisor_mobile %></td>    
          </tr>
          <tr>
            <td>Email: </td><td><%= @user.email %></td>
          </tr>
          <tr>
            <td>Address: &nbsp;&nbsp;<br>&nbsp;</td><td><%= @user.mailing_address %><br>
                            <%= @user.apt_suite %>
                            <%= @user.city %>, <%= @user.state %>  <%= @user.zip %>
                        <br>
            </td>
          </tr>
        </table>
      </div>
    	<div class="panel-footer">
    		<div class="links center">
    			<%= link_to "Back", users_path, class: "btn btn-beige" %> &nbsp;&nbsp;
    			<%= link_to "Edit User", edit_user_path(@user), class: "btn btn-warning" %>
          <%#= link_to "Delete User", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
    		</div>
       </div>
    </div>
    <% end %>
  </div>


<% if current_user.manager %>

<div class="col-md-12">
  <p>&nbsp;</p>
	<div class="panel panel-gray">
	  <div class="panel-heading">
	  	<div class="row">
	  		<div class="col-md-6">
	  			<h4>Listing
						<% if current_user.manager %>
			 				<%= @user.prospects.count %>
						<% else %>
							All
						<% end %>
					Prospects</h4>
	  		</div>
	  		<div class="col-md-6">
		  		<%= form_tag(prospects_path, :method => "get", id: "search-form") do %>
						<%= text_field_tag :search, params[:search], placeholder: "Search Prospects" %>
						<%= submit_tag "Search", class:"btn btn-slate btn-sm" %>
					<% end %>
	  		</div>
	  	</div>
	  </div>
		<div class="prospect-show table-responsive">
			<table class="table index-table table-condensed">
		  	<tr class="bordered">
		  		<td colspan="3"></td>
		  		<% if !current_user.branch? %>
		  		  <td>&nbsp;</td>
		  		  <td colspan="3">HealthCare Savings</td>
		  		<% end %>
		  		<% if !current_user.entrust? %>
		  		  <td>&nbsp;</td>
		  		  <td colspan="4">Instant Pay</td>
		  	  <% end %>
		  	</tr>

		    <tr class="bordered">
		      <td>Consultant</td>
		      <td>Prospect</td>
			    <td>Full-Time<br>Employees</td>

					<% if !current_user.branch? %>
  			    <td>&nbsp;</td>
  		      <td>Next Action<br>
  		      Date</td>			      
  		      <td>Next Action</td>
  		      <td>Status</td>
          <% end %>
          
					<% if !current_user.entrust? %>
  			    <td>&nbsp;</td>
  		      <td>Next Action<br>
  		      Date</td>			      
  		      <td>Next Action</td>
  		      <td>Status</td>
          <% end %>
				</tr>
				
			  <tbody class="bordered">
					<% @user.prospects.each do |prospect| %>
						<% if (prospect.user_id == current_user.id) || current_user.manager %>
					    <tr>
					      <td class="td-left">
					      	<%= prospect.user.advisor_first_name + ' ' + prospect.user.advisor_last_name %>
					      </td>
					      <td class="td-left">
					     		<em><%= link_to prospect.organization, prospect %></em>
					      </td>
						    <td><%= prospect.employees %></td>
						    
  		  		    <% if !current_user.branch? %>						    
  								<td>&nbsp;</td>
  					      <td><% if !prospect.hcs_next_action_date.nil? %><%= prospect.hcs_next_action_date.strftime("%m/%d/%Y") %><% end %></td>
  					      <td><%= prospect.hcs_next_action %></td>
  					      <td><%= prospect.status %></td>
                <% end %>
  		  		    <% if !current_user.entrust? %>					      
  								<td>&nbsp;</td>
  					      <td><% if !prospect.pay_next_action_date.nil? %><%= prospect.pay_next_action_date.strftime("%m/%d/%Y") %><% end %></td>
  					      <td><%= prospect.pay_next_action %></td>
  					      <td><%= prospect.pay_status %></td>
                <% end %>
					    </tr>
						<% end %>

					<% end %>
			  </tbody>

			</table>
  	</div>
  	<div class="panel-footer">
	 	</div>
  </div>
<% end %>

