<% if current_user.manager || current_user.staff %>
  <div class="col-md-10 col-md-offset-1">
  	<div class="panel panel-gray">
      <div class="panel-heading">
        <h4><%= @user.advisor_first_name + ' ' + @user.advisor_last_name %></h4>
      </div>
      <div class="prospect-show">
      	
        <div class="row">

          <div class="col-md-5 col-md-offset-1">
		        <table valign="middle">

		          <tr>
		            <td>Consultant: </td><td>&nbsp;&nbsp;</td><td><%= @user.advisor_first_name + ' ' + @user.advisor_last_name %></td>
		          </tr>
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>	
		          <tr>
		            <td>Company: </td><td>&nbsp;&nbsp;</td><td><%= @user.advisor_company_name %></td>
		          </tr>
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>			          
		          <tr>
		            <td>Phone: </td><td>&nbsp;&nbsp;</td><td><%= @user.advisor_phone %></td>
		          </tr>
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>	
		          <tr>
		            <td>Mobile: </td><td>&nbsp;&nbsp;</td><td><%= @user.advisor_mobile %></td>    
		          </tr>
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>	
		          <tr>
		            <td>Home Phone: </td><td>&nbsp;&nbsp;</td><td><%= @user.advisor_home_phone %></td>
		          </tr>
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>			          
		          <tr>
		            <td>Email: </td><td>&nbsp;&nbsp;</td><td><%= @user.email %></td>
		          </tr>
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>	
		          <tr>
		            <td>Address: &nbsp;&nbsp;<br>&nbsp;</td><td>&nbsp;&nbsp;</td><td><%= @user.mailing_address %><br>
		              <%= @user.apt_suite %>
		              <%= @user.city %>, <%= @user.state %>  <%= @user.zip %>
		          		<br>
		            </td>
		          </tr>
		          <% if current_user.staff %>
			          <tr>
			            <td colspan="2">&nbsp;</td>
			          </tr>
			          <tr>
			            <td>Occupation: </td><td>&nbsp;&nbsp;</td><td><%= @user.occupation %></td>
			          </tr>
			          <tr>
			            <td colspan="2">&nbsp;</td>
			          </tr>	
			          <tr>
			            <td>Sign Date: </td><td>&nbsp;&nbsp;</td><td><%= @user.signup_date %></td>
			          </tr>		  
			          <tr>
			            <td colspan="2">&nbsp;</td>
			          </tr>	
			          <tr>
			            <td>Training Completed Date: </td><td>&nbsp;&nbsp;</td><td><% if !@user.training_date.nil? %>
			    		  																					<%= @user.training_date.strftime("%m/%d/%y") %>
			      																						<% end %></td>
			          </tr>
			          <tr>
			            <td colspan="2">&nbsp;</td>
			          </tr>			          
			          <tr>
			            <td>Business Plan Scheduled<br>
			            		or Completed Date: </td><td>&nbsp;&nbsp;</td><td><% if !@user.business_plan_date.nil? %>
																				    		 		<%= @user.business_plan_date.strftime("%m/%d/%y") %>
																									<% end %></td>
			          </tr>
			          <tr>
			            <td colspan="2">&nbsp;</td>
			          </tr>
          
							<% end %>
						</table>
					</div>

          <div class="col-md-5 col-md-offset-1">
				
						<p><strong>Documents</strong></p>
						
						<ul>
							<%= link_to "#{@user.attachment1_name}", @user.attachment1_url, target: :_blank %><br><br>
							<%= link_to "#{@user.attachment2_name}", @user.attachment2_url, target: :_blank %><br><br>  	
							<%= link_to "#{@user.attachment3_name}", @user.attachment3_url, target: :_blank %><br><br>
							<%= link_to "#{@user.attachment4_name}", @user.attachment4_url, target: :_blank %><br><br>
							<%= link_to "#{@user.attachment5_name}", @user.attachment5_url, target: :_blank %><br><br>
							<%= link_to "#{@user.attachment6_name}", @user.attachment6_url, target: :_blank %><br><br>
							<%= link_to "#{@user.attachment7_name}", @user.attachment7_url, target: :_blank %><br><br>
							<%= link_to "#{@user.attachment8_name}", @user.attachment8_url, target: :_blank %><br><br>
							<%= link_to "#{@user.attachment9_name}", @user.attachment9_url, target: :_blank %><br><br>
							<%= link_to "#{@user.attachment10_name}", @user.attachment10_url, target: :_blank %><br>
						</ul>
						
						<table>
		          <tr>
		            <td>Broker: </td><td>&nbsp;&nbsp;<%= @user.broker %></td>
		          </tr>        
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>			          
		          <tr>
		            <td>Fee Paid: </td><td>&nbsp;&nbsp;<%= @user.fee %></td>
		          </tr>        
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>
		          <tr>
		            <td>Fee Paid by: </td><td>&nbsp;&nbsp;<%= @user.fee_payment_method %></td>
		          </tr>
		          <tr>
		            <td colspan="2">&nbsp;</td>
		          </tr>			          							
						</table>
					</div>
				</div>


        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          	<hr>
						<p><strong>Notes</strong></p>
					</div>
				</div>

      </div>
      
    	<div class="panel-footer">
    		<div class="links center">
    			<%= link_to "Back", users_path, class: "btn btn-beige" %> &nbsp;&nbsp;
    			<%= link_to "Edit User", edit_user_path(@user), class: "btn btn-warning" %>
          <%#= link_to "Delete User", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
    		</div>
       </div>
    </div>
    <% end %>
  </div>


<% if current_user.manager %>

<div class="col-md-12">
  <p>&nbsp;</p>
	<div class="panel panel-gray">
	  <div class="panel-heading">
	  	<div class="row">
	  		<div class="col-md-6">
	  			<h4>Listing
						<% if current_user.manager %>
			 				<%= @user.prospects.count %>
						<% else %>
							All
						<% end %>
					Prospects</h4>
	  		</div>
	  		<div class="col-md-6">
		  		<%= form_tag(prospects_path, :method => "get", id: "search-form") do %>
						<%= text_field_tag :search, params[:search], placeholder: "Search Prospects" %>
						<%= submit_tag "Search", class:"btn btn-slate btn-sm" %>
					<% end %>
	  		</div>
	  	</div>
	  </div>
		<div class="prospect-show table-responsive">
			<table class="table index-table table-condensed">
		  	<tr class="bordered">
		  		<td colspan="2"></td>
		  		<% if !current_user.branch? %>
		  		  <td>&nbsp;</td>
		  		  <td colspan="3">HealthCare Savings</td>
		  		<% end %>
		  		<% if !current_user.entrust? %>
		  		  <td>&nbsp;</td>
		  		  <td colspan="4">Instant Pay</td>
		  	  <% end %>
		  	</tr>

		    <tr class="bordered">
		      <td><strong>Prospect</strong></td>
		      
			    <td><strong>Employees</strong></td>
			    
					<% if !current_user.branch? %>
				    <td>&nbsp;</td>
			      <td><strong>Next Action<br>Date</strong></td>			      
			      <td><strong>Next Action</strong></td>
  		      <td><strong>Status</strong></td>
          <% end %>
          
					<% if !current_user.entrust? %>
  			    <td>&nbsp;</td>
			      <td><strong>Submitted<br>to Branch</strong></td>
			      <td><strong>Next Action<br>Date</strong></td>			      
			      <td><strong>Next Action</strong></td>
  		      <td><strong>Status</strong></td>
          <% end %>
				</tr>
				
			  <tbody class="bordered">
					<% @user.prospects.each do |prospect| %>
						<% if (prospect.user_id == current_user.id) || current_user.manager %>
					    <tr>
					      <td class="td-left">
					     		<%= link_to prospect.organization, prospect %>
					     		
  									<!--I wrote this very clunky section that I need to rework at some point in the future... Chris-->
  							  	<% if prospect.hcs_prospect? && (prospect.hcs_next_action_date.nil? || prospect.hcs_next_action_date < Date.today) %> 
  							      <% update1 = "yes" %>
  							  	<% end %>
  							    <% if prospect.intro_presentation_date.nil? || prospect.intro_presentation_date < Date.today %>
  							      <% update2 = "yes" %>
  							  	<% end %>
  							    <% if prospect.hcs_sme_fact_finding_call_date.nil? || prospect.hcs_sme_fact_finding_call_date < Date.today %>
  							      <% update3 = "yes" %>
  							  	<% end %>
  							  	<% if prospect.hcs_sme_proposal_meeting_date.nil? || prospect.hcs_sme_proposal_meeting_date < Date.today %>
  							      <% update4 = "yes" %>
  							  	<% end %>
  							  	<% if prospect.effective_date.nil? || prospect.effective_date < Date.today %>
  							      <% update5 = "yes" %>
  							  	<% end %>
  							
  						  	  <% if (prospect.status != "Other - No Sale") && 
  						  	        (prospect.status != "Closed - Group is Effective") && 
  						  	        (prospect.status !=  "Intro Pres Given - No Sale") && 
  						  	        (prospect.status != "Fact Finder Call Done - No Sale") && 
  						  	        (prospect.status != "Proposal Given - No Sale") && 
  						  	        (prospect.status != "Not Qualified - No Sale") %>
  							  	  <% if update1 && update2 && update3 && update4 && update5 == "yes" %>
  						  	      <br>
  						  	      <%= link_to "Healthcare Needs Updating", hcs_path(prospect), {:style=>'color:yellow;'} %>						  	  
  								    <% end %>
  								  <% end %>



  							  	<% if prospect.pay_prospect? && (prospect.pay_next_action_date.nil? || prospect.pay_next_action_date < Date.today) %> 
  							      <% update7 = "yes" %>
  							  	<% end %>
  							    <% if prospect.pay_intro_presentation_date.nil? || prospect.pay_intro_presentation_date < Date.today %>
  							      <% update8 = "yes" %>
  							  	<% end %>
  							    <% if prospect.pay_sme_presentation_date.nil? || prospect.pay_sme_presentation_date < Date.today %>
  							      <% update9 = "yes" %>
  							  	<% end %>
  							  	<% if prospect.pay_agreement_date.nil? || prospect.pay_agreement_date < Date.today %>
  							      <% update10 = "yes" %>
  							  	<% end %>
  							
  						  	  <% if (prospect.pay_status != "Other - No Sale") && 
  						  	        (prospect.pay_status != "Closed - Client is Active") && 
  						  	        (prospect.pay_status != "Intro Pres Given - No Sale") && 
  						  	        (prospect.pay_status != "SME Presentation Done - No Sale") && 
  						  	        (prospect.pay_status != "Not Qualified - No Sale") %>

  							  	  <% if update7 && update8 && update9 && update10 == "yes" %>
  							  	    <br>
  							  	    <%= link_to "Instant Pay Needs Updating", pay_path(prospect), {:style=>'color:yellow;'} %>
  								    <% end %>
  								  <% end %>
  									<!--End of clunky section.-->		

					      </td>

						    <td><%= prospect.employees %></td>
						    
  		  		    <% if !current_user.branch? %>						    
  								<td>&nbsp;</td>
  					      <td><% if !prospect.hcs_next_action_date.nil? %><%= prospect.hcs_next_action_date.strftime("%m/%d/%Y") %><% end %></td>
  					      <td><%= prospect.hcs_next_action %></td>
  					      <td><%= prospect.status %></td>
                <% end %>
  		  		    <% if !current_user.entrust? %>					      
  								<td>&nbsp;</td>
              		<td style="vertical-align:middle">
              	  <% if prospect.pay_submitted_to_branch? %><span class="glyphicon glyphicon-ok"></span><% end %></td>
  					      <td><% if !prospect.pay_next_action_date.nil? %><%= prospect.pay_next_action_date.strftime("%m/%d/%Y") %><% end %></td>
  					      <td><%= prospect.pay_next_action %></td>
  					      <td><%= prospect.pay_status %></td>
                <% end %>
					    </tr>
						<% end %>

					<% end %>
			  </tbody>

			</table>
  	</div>
  	<div class="panel-footer">
	 	</div>
  </div>
<% end %>

