    <% if @prospect.pay_prospect %>
      <p>&nbsp;</p>

      <div class="row">
        <div class="col-md-3">
          <h4><strong>Instant Pay</strong></h4>
        </div>
        <div class="col-md-5">
          <br>
          Status: <em><%= @prospect.pay_status %></em><br>
          Next Action: 
    		    <% if !@prospect.pay_next_action_date.nil? %>
      		  <em><%= @prospect.pay_next_action_date.strftime("%m/%d/%y") %> - </em>
      		<% end %>
      		<em><%= @prospect.pay_next_action %></em>
        </div>
        <div class="col-md-2"><br>
          <% if !@prospect.pay_submitted_to_branch? %>
            <%= link_to "https://get.branchapp.com/bc-lead-registration", :target => "_blank", class: "btn btn-success btn-sm pull-right" do %><i class="glyphicon glyphicon-leaf"></i> Register Lead with Branch<% end %>
          <% end %>
        </div>
        <div class="col-md-2"><br>
          <%= link_to "Edit Instant Pay", pay_path(@prospect), class: "btn btn-warning btn-sm" %>      
        </div>        
      </div>

      <p>&nbsp;</p>
      
      <div class="row">
        <div class="col-md-4">
          Intro Pres Date: <% if !@prospect.pay_intro_presentation_date.nil? %>
    		  <em><%= @prospect.pay_intro_presentation_date.strftime("%m/%d/%y") %></em><% end %>
    		  <br>
    		  Intro Presented by: <em><%= @prospect.pay_intro_presenter %></em>  
        </div>
        <div class="col-md-4">
          SME Presentation Date: <% if !@prospect.pay_sme_presentation_date.nil? %>
    		  <em><%= @prospect.pay_sme_presentation_date.strftime("%m/%d/%y") %></em><% end %><br>
    		  Subject Matter Expert: <em><%= @prospect.pay_sme %></em><br>
    		  Lead Submitted to Branch? 
      		  <% if @prospect.pay_submitted_to_branch? %>
      		    <em><strong>Yes</strong></em>
      		  <% else %>
      		    <em><strong>No</strong></em>
            <% end %>
        </div>
        <div class="col-md-4">
          Agreement Date: <% if !@prospect.pay_agreement_date.nil? %>
    		  <em><%= @prospect.pay_agreement_date.strftime("%m/%d/%y") %></em><% end %><br>
      		Total Hourly Employees: <em><strong><%= @prospect.pay_hourly_employees %></strong></em>
      	</div>
      </div>

      <p>&nbsp;</p>
      <div class="row">
        <div class="col-md-12">
          Pay Notes: <em><%= @prospect.pay_notes %></em>
        </div>
      </div>

      <br>

      <p>&nbsp;</p>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <strong>Same Day Pay Files</strong>
          <br>
          <br>
          <table>
            <% @prospect.attachments.where(service_type: 'pay').each do |attachment| %>
              <tr>
                <td><%= link_to "#{attachment.description}", attachment.document_url, target: :_blank %></td>
                <td>&nbsp;&nbsp;&nbsp;</td>
                <td>Uploaded by <%= attachment.user.advisor_first_name + ' ' + attachment.user.advisor_last_name %> on <%= attachment.created_at.strftime("%m/%d/%y") %></td>
                <td>&nbsp;&nbsp;&nbsp;</td>                
                <td>
                  <% if attachment.user_id == current_user.id %>
            				<%= link_to "Edit", edit_prospect_attachment_path(attachment.prospect, attachment), class: "btn btn-warning btn-xs" %> &nbsp; 
            				<%= link_to "Delete", prospect_attachment_path(attachment.prospect, attachment), method: :delete,
            						data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" %>
            			<% end %>
                </td>
              </tr>
              <tr>
                <td colspan="5">&nbsp;</td>
              </tr>
            <% end %>              
          </table>
          <br>
          <%= render 'attachments/pay_form' %>
        </div>
      </div>

      <br>
      <hr>      
      <div class="row">
        <div class="col-md-12">
        <strong>Same Day Pay Comments</strong>
          <%= render @prospect.comments.where.not(pay_content: nil) %>
          <br>
          <%= render 'comments/pay_form' %>
        </div>
      </div>
      
    <% end %>