    <% if @prospect.shipping_prospect %>
      <p>&nbsp;</p>

      <div class="row">
        <div class="col-md-3">
          <h4><strong>Shipping</strong></h4>
        </div>
        <div class="col-md-5">
          <br>
          Status: <em><%= @prospect.shipping_opportunity_status %></em><br>
    		    <% if !@prospect.shipping_next_action_date.nil? %>
	      			<% if @prospect.shipping_next_action_date < Date.today %>
	      				<div class="alert-alert">
	      			<% else %>
	      				<div>
	      			<% end %>		
	      			Next Action: <em><%= @prospect.shipping_next_action_date.strftime("%m/%d/%Y") %> - <%= @prospect.shipping_next_action %></em>
	      			</div>
	      		<% end %>
        </div>
        <div class="col-md-2"><strong><br>Lead Status</strong><br><em>
          <% if @prospect.shipping_lead_status == "Submitted" %>Not Yet Reviewed
          <% elsif @prospect.shipping_lead_status == "Pending Review" %>Pending Discovery Call
          <% elsif @prospect.shipping_lead_status == "Approved" %>Accepted
          <% elsif @prospect.shipping_lead_status == "Declined" %>Declined
          <% end %></em>
        </div>
        <div class="col-md-2"><br>
          <%= link_to "Edit Shipping", shipping_path(@prospect), class: "btn btn-warning btn-sm" %>      
        </div>        
      </div>

      <p>&nbsp;</p>


      <div class="row">
        <div class="col-md-4">
          <strong>Shipping Contact</strong><br>
          Name: <em><%= @prospect.shipping_contact_first_name %> <%= @prospect.shipping_contact_last_name %></em><br>
          Title: <em><%= @prospect.shipping_contact_title %></em><br>
          Direct Line/Ext: <em><%= @prospect.shipping_contact_direct_phone %></em><br>
          Mobile: <em><%= @prospect.shipping_contact_mobile %></em><br>
          Email: <em><%= @prospect.shipping_contact_email %></em>
        </div>
        <div class="col-md-8">
          Shipping Type: <em><%= @prospect.shipping_type %></em><br>
          Estimated Parcels Shipped Per Day: <em><%= @prospect.shipping_parcels_per_day %></em><br>
          Estimated Annual Parcel Spend: <em><%= @prospect.shipping_annual_parcel_spend %></em><br>
          Parcel Shipping Carrier: <em><%= @prospect.shipping_parcel_carrier %></em><br>
          Estimated LTL Shipments Per Week:  <em><%= @prospect.shipping_ltl_per_week  %></em><br>
          Estimated Annual LTL Spend:   <em><%= @prospect.shipping_annual_ltl_spend %></em><br>
          Estimated TL Shipments Per Week:  <em><%= @prospect.shipping_tl_per_week %></em><br>
          Estimated Annual TL Spend:   <em><%= @prospect.shipping_annual_tl_spend %></em><br>
          Using carriers provided software to manage parcel shipping?: <em><%= @prospect.shipping_carrier_provided_system %></em><br>
          Would SHIPSTORE potentially integrate with other systems? (WMS, ERP, Inventory Management, Shopping Cart):  <em><%= @prospect.shipping_integration %></em><br>
          Interested in a no-cost comparative rate analysis?: <em><%= @prospect.shipping_interest_in_rate_analysis %></em>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="row">
        <div class="col-md-12">
          Shipping Notes: <em><%= @prospect.shipping_notes %></em>
        </div>
      </div>
      
      <p>&nbsp</p>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <strong>Shipping Files</strong>
          <br>
          <br>
          <% @prospect.attachments.where(service_type: 'shipping').each do |attachment| %>  
            <div class="attachment">
              <div class="row">
                <div class="col-md-10">
                	<em><%= link_to "#{attachment.description}", attachment.document_url, target: :_blank %></em>
                	<p class="posted-by">Uploaded by <%= attachment.user.advisor_first_name + ' ' + attachment.user.advisor_last_name %> on
                	<%= attachment.created_at.strftime("%m/%d/%y") %></p>
            		</div>
            
                <div class="col-md-2">
            			<% if attachment.user_id == current_user.id %>
            				<%= link_to "Edit", edit_prospect_attachment_path(attachment.prospect, attachment), class: "btn btn-warning btn-xs" %> &nbsp; 
            				<%= link_to "Delete", prospect_attachment_path(attachment.prospect, attachment), method: :delete,
            						data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-xs" %>
            			<% end %>
            		</div>
            	</div>
            </div>
          <% end %>
          <br>
          <%= render 'attachments/shipping_form' %>
        </div>
      </div>

      <p>&nbsp</p>
      <hr>

      <br>
      <div class="row">
        <div class="col-md-12">
          <strong>Shipping Comments</strong>
          <%= render @prospect.comments.where.not(shipping_content: nil) %>
          <br>
          <%= render 'comments/shipping_form' %>
        </div>
      </div>
      
    <% end %>