    <% if @prospect.vcp_prospect %>
      <p>&nbsp;</p>

      <div class="row">
        <div class="col-md-3">
          <h4><strong>Virtual card Payments</strong></h4>
        </div>
        <div class="col-md-7">
          <br>
          Status: <em><%= @prospect.vcp_status %></em><br>
    		    <% if !@prospect.vcp_next_action_date.nil? %>
	      			<% if @prospect.vcp_next_action_date < Date.today %>
	      				<div class="alert-alert">
	      			<% else %>
	      				<div>
	      			<% end %>		
	      			Next Action: <em><%= @prospect.vcp_next_action_date.strftime("%m/%d/%Y") %> - <%= @prospect.vcp_next_action %></em>
	      			</div>
	      		<% end %>
        </div>

        <div class="col-md-2"><br>
          <%= link_to "Edit Virtual Cards", vcp_path(@prospect), class: "btn btn-warning btn-sm" %>      
        </div>        
      </div>

      <p>&nbsp;</p>
      
      <div class="row">
        <div class="col-md-4">
          Intro Pres Date: <% if !@prospect.vcp_intro_presentation_date.nil? %>
    		  <em><%= @prospect.vcp_intro_presentation_date.strftime("%m/%d/%y") %></em><% end %>
    		  <br>
    		  Intro Presented by: <em><%= @prospect.vcp_intro_presenter %></em>  
        </div>
        <div class="col-md-4">
          SME Presentation Date: <% if !@prospect.vcp_sme_presentation_date.nil? %>
    		  <em><%= @prospect.vcp_sme_presentation_date.strftime("%m/%d/%y") %></em><% end %><br>
    		  Subject Matter Expert: <em><%= @prospect.vcp_sme %></em>
        </div>
        <div class="col-md-4">
          Agreement Date: <% if !@prospect.vcp_agreement_date.nil? %>
    		  <em><%= @prospect.vcp_agreement_date.strftime("%m/%d/%y") %></em><% end %>
      	</div>
      </div>

      <p>&nbsp;</p>
      <div class="row">
        <div class="col-md-12">
          VCP Notes: <em><%= @prospect.vcp_notes %></em>
        </div>
      </div>
      
      <br>
      
      <div class="row">
        <div class="col-md-12">
          Comments:
          <%= render @prospect.comments.where.not(vcp_content: nil) %>
          <br>
          <%= render 'comments/vcp_form' %>
        </div>
      </div>
      
    <% end %>