<% if current_user.branch || current_user.staff %>
	<div class="col-md-12">
		<div class="panel panel-gray">
		  <div class="panel-heading">
	
		  	<div class="row">
		  		<div class="col-md-5">
					<h4>Instant pay Prospects</h4>
			  	</div>
		  		<div class="col-md-7">
			  		<%= form_tag(branch_path, :method => "get", id: "search-form") do %>
							<%= text_field_tag :search, params[:search], placeholder: "Search Prospects" %>
							<%= submit_tag "Search", class:"btn btn-slate btn-sm" %>
						<% end %>
					</div>		  	
			  </div>
			</div>
			<div class="prospect-show table-responsive">
				<table class="table index-table table-condensed">
				  <thead>
				    <tr>
				    	<th>Created</th>
				      <th>Consultant</th>
				      <th>Prospect</th>
				      <th>Opportunity Stage</th>
				      <th>Next Action</th>				      
				    </tr>
				  </thead>
					
				  <tbody class="bordered">
						<% @prospects.each do |prospect| %>
					    <tr>
					      <td class="td-left">
					      	<%= prospect.created_at&.strftime("%m/%d/%Y") %>
					      </td>
					      <td class="td-left">
					      	<%= prospect.user&.advisor_name %>
					      </td>
					      
					      <td class="td-left">
					     		<em><%= link_to prospect.organization, prospect %></em>
					      </td>
					      <td>
					      	<%= prospect.pay_status %>
					      </td>
					      <td class="td-left">
					      	<% if !prospect.pay_next_action_date.nil? %>
				      			<% if prospect.pay_next_action_date < Date.today %>
				      				<div class="alert-alert">
				      			<% else %>
				      				<div>
				      			<% end %>
				      			<%= prospect.pay_next_action_date.strftime("%m/%d/%Y") %> - <%= prospect.pay_next_action %>
				      			</div>
				      		<% end %>
					      </td>					      
					    </tr>
						<% end %>
	
				  </tbody>
				</table>
				
			</div>
	
			<div class="panel-footer center">
				&nbsp;
		 	</div>
	
		</div>
	</div>
<% end %>	