<div class="col-md-6 col-md-offset-3">
  
	<div class="panel panel-gray">
    <div class="panel-heading">
  		<h4>Edit Prospect</h4>
    </div>
    <div class="prospect-show">
  
  		<%= simple_form_for @prospect do |f| %>
  			<%= f.hidden_field :status, value: "Intro Presentation Scheduled" %>
  			<%= f.input :organization, required: true, autofocus: true, label: "Prospect Company or Organization Name" %>
  			
  			<div class="row">
  				<div class="col-md-8"><%= f.input :street_address %></div>
  				<div class="col-md-4"><%= f.input :address2, label: "Suite # (etc)" %></div>		
  			</div>	
  			<div class="row">
  				<div class="col-md-4"><%= f.input :city %></div>
  				<div class="col-md-4"><%= f.input :state, collection: STATES %>
  				</div>
  				<div class="col-md-4"><%= f.input :zip %></div>
  			</div>
  		
  		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :phone %></div>
  				<div class="col-md-4"><%= f.input :website %></div>
  				<div class="col-md-4"><%= f.input :employees, label: "Employees" %></div>
  			</div>
  		
  			<hr>
  		  <h4>Contact 1</h4>		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :contact1_first_name, label: "First Name" %></div>
  				<div class="col-md-4"><%= f.input :contact1_last_name, label: "Last Name" %></div>
  				<div class="col-md-4"><%= f.input :contact1_title, label: "Title" %></div>
  			</div>
  		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :contact1_phone, label: "Direct Phone or Ext" %></div>
  				<div class="col-md-4"><%= f.input :contact1_mobile, label: "Mobile" %></div>
  				<div class="col-md-4"><%= f.input :contact1_email, label: "Email" %></div>
  			</div>
  		
  			<hr>
  		  <h4>Contact 2</h4>		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :contact2_first_name, label: "First Name" %></div>
  				<div class="col-md-4"><%= f.input :contact2_last_name, label: "Last Name" %></div>
  				<div class="col-md-4"><%= f.input :contact2_title, label: "Title" %></div>
  			</div>
  		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :contact2_phone, label: "Direct Phone or Ext" %></div>
  				<div class="col-md-4"><%= f.input :contact2_mobile, label: "Mobile" %></div>
  				<div class="col-md-4"><%= f.input :contact2_email, label: "Email" %></div>
  			</div>
  		
  		
  			<hr>
  			<%= f.input :prospect_note, label: "Note" %>
  			<%= f.input :intro_presentation_date, 
  				{:include_blank => true, :default => nil, order: [:day, :month, :year] } %>
  		  <%= f.input :intro_presenter, label: "Intro Presentation (who presented?)" %>
  			<br>			
  		
      <%= f.input :current_health_benefit_cost, label: "Current Health Benefit Cost" %>
      <%= f.input :new_estimated_health_benefit_cost, label: "New Estimated Health Benefit Cost" %>
      <%= f.input :hcs_sme_fact_finding_call_date, {:include_blank => true, :default => nil, order: [:day, :month, :year], label: "SME Fact Finding Call" } %>
  		<%= f.input :hcs_sme, label: "HealthCare Subject Matter Expert" %>
      <%= f.input :hcs_sme_proposal_meeting_date, {:include_blank => true, :default => nil, order: [:day, :month, :year], label: "SME Proposal Meeting" } %>
  		<%= f.input :prospect_note, label: "Note" %>
  		<%= f.input :status, required: true, include_blank: false, include_hidden: false,
  																collection: [
			  																			'Intro Presentation Scheduled',
			  																			'Fact Finding Call Scheduled',
			  																			'Proposal Meeting Scheduled',
			  																			'Waiting for Claims Data',
			  																			'Waiting on Agreement',
			  																			'Closed - Enrollment Scheduled',
			  																			'Closed - Group is Effective',
			  																			'Intro Pres Given - No Sale',
			  																			'Fact Finder Call Done - No Sale',
			  																			'Proposal Given - No Sale',
			  																			'Not Qualified - No Sale',
			  																			'Other - No Sale'
			  																			], label: "Deal Status" %>
      <%= f.input :agreement_date, {:include_blank => true, :default => nil, order: [:day, :month, :year] } %>
      <%= f.input :effective_date, {:include_blank => true, :default => nil, order: [:day, :month, :year] } %>
      <br>
      
    	</div>
    	
      <div class="panel-footer">
    		<%= link_to "Back", prospect_path, class: "btn btn-default" %>
          <%= f.button :submit, class:"btn btn-slate" %>
        <% end %>
      </div>
    	
  </div>
</div>
