<div class="col-md-8 col-md-offset-2">
  
	<div class="panel panel-gray">
    <div class="panel-heading">
  		<h4>Editing: &nbsp; <%= @prospect.organization %></h4>
    </div>
    
    <div class="prospect-show">
  
  		<%= simple_form_for @prospect do |f| %>
  		
    		<% if current_user.manager %>
    		  <div class="row alert-alert">
    		    <div class="col-md-6"><br><br>WARNING - Consultant name should NOT typically be changed.</div>
            <div class="col-md-6"><%= f.input :user_id, collection: User.collection, label: "Consultant Name", include_hidden: false %></div>
          </div>
    		<% end %>
  		
  			<h4>Company/Organization Info</h4>
  			<%= f.input :organization, required: true, autofocus: true, label: "Prospect Company or Organization Name" %>
  			<div class="row">
  				<div class="col-md-8"><%= f.input :street_address %></div>
  				<div class="col-md-4"><%= f.input :address2, label: "Suite # (etc)" %></div>		
  			</div>	
  			<div class="row">
  				<div class="col-md-4"><%= f.input :city %></div>
  				<div class="col-md-4"><%= f.input :state, collection: STATES %>
  				</div>
  				<div class="col-md-4"><%= f.input :zip %></div>
  			</div>
  		
  		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :phone %></div>
  				<div class="col-md-4"><%= f.input :website %></div>
  				<div class="col-md-4"><%= f.input :employees, label: "Employees" %></div>
  			</div>
  		
  			<hr>
  		  <h4>Contact 1</h4>		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :contact1_first_name, label: "First Name" %></div>
  				<div class="col-md-4"><%= f.input :contact1_last_name, label: "Last Name" %></div>
  				<div class="col-md-4"><%= f.input :contact1_title, label: "Title" %></div>
  			</div>
  		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :contact1_phone, label: "Direct Phone or Ext" %></div>
  				<div class="col-md-4"><%= f.input :contact1_mobile, label: "Mobile" %></div>
  				<div class="col-md-4"><%= f.input :contact1_email, label: "Email" %></div>
  			</div>
  		
  			<hr>
  		  <h4>Contact 2</h4>		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :contact2_first_name, label: "First Name" %></div>
  				<div class="col-md-4"><%= f.input :contact2_last_name, label: "Last Name" %></div>
  				<div class="col-md-4"><%= f.input :contact2_title, label: "Title" %></div>
  			</div>
  		
  			<div class="row">
  				<div class="col-md-4"><%= f.input :contact2_phone, label: "Direct Phone or Ext" %></div>
  				<div class="col-md-4"><%= f.input :contact2_mobile, label: "Mobile" %></div>
  				<div class="col-md-4"><%= f.input :contact2_email, label: "Email" %></div>
  			</div>
  			<hr>
  			<%= f.input :prospect_notes, label: "Notes" %>
        <br>
	
    	</div>
    	
      <div class="panel-footer">
    		<%= link_to "Back", prospect_path, class: "btn btn-default" %>
          <%= f.button :submit, class:"btn btn-slate" %>
        <% end %>
      </div>
    	
  </div>
</div>
