<div class="col-md-8 col-md-offset-2">
  
	<div class="panel panel-gray">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-6" ><h4>Editing: &nbsp; <%= @prospect.organization %></h4></div>
        <div class="col-md-6" ><h4>HealthCare Savings</h4></div>
      </div>
    </div>
    <div class="prospect-show">
  		<%= simple_form_for @prospect, url: hcs_update_path, method: :post do |f| %>
  			<%= f.hidden_field :hcs_prospect, value: 'true' %>
			  <%= f.hidden_field :hcs_opportunity_status, value: "Prospect Submitted to Trident Benefits" %>  			
			  <%= f.hidden_field :shipping_lead_status, value: "Submitted" %>
	      <%= render 'prospects/edit_hcs', f: f %>
    </div>
    	
    <div class="panel-footer">
  		<%= link_to "Back", prospect_path, class: "btn btn-default" %>
        <%= f.button :submit, class:"btn btn-slate" %>
      <% end %>
    </div>
    	
  </div>
</div>