<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-gray">
  <div class="panel-heading">
		<h4>HCSQ</h4>
  </div>
  <div class="prospect-show">
		<%= simple_form_for @prospect, url: hcsq_update_path, method: :post do |f| %>
		<%= f.hidden_field :status, value: "Fact Finding Call Scheduled" %>	
			<%= f.input :organization, required: true, autofocus: true, label: "Prospect Company or Organization Name" %>
			<div class="row">
				<div class="col-md-8"><%= f.input :street_address %></div>
				<div class="col-md-4"><%= f.input :address2, label: "Suite # (etc)" %></div>		
			</div>	
			<div class="row">
				<div class="col-md-4"><%= f.input :city %></div>
				<div class="col-md-4"><%= f.input :state, collection: STATES %>
				</div>
				<div class="col-md-4"><%= f.input :zip %></div>
			</div>
		
			<div class="row">
				<div class="col-md-4"><%= f.input :phone %></div>
				<div class="col-md-4"><%= f.input :website %></div>
				<div class="col-md-4"><%= f.input :employees, label: "Employees" %></div>
			</div>
		
			<br>
		  <h4>Contact 1</h4>		
			<div class="row">
				<div class="col-md-4"><%= f.input :contact1_first_name, label: "First Name" %></div>
				<div class="col-md-4"><%= f.input :contact1_last_name, label: "Last Name" %></div>
				<div class="col-md-4"><%= f.input :contact1_title, label: "Title" %></div>
			</div>
		
			<div class="row">
				<div class="col-md-4"><%= f.input :contact1_phone, label: "Direct Phone or Ext" %></div>
				<div class="col-md-4"><%= f.input :contact1_mobile, label: "Mobile" %></div>
				<div class="col-md-4"><%= f.input :contact1_email, label: "Email" %></div>
			</div>

			<br>
		  <h4>Contact 2</h4>		
			<div class="row">
				<div class="col-md-4"><%= f.input :contact2_first_name, label: "First Name" %></div>
				<div class="col-md-4"><%= f.input :contact2_last_name, label: "Last Name" %></div>
				<div class="col-md-4"><%= f.input :contact2_title, label: "Title" %></div>
			</div>
		
			<div class="row">
				<div class="col-md-4"><%= f.input :contact2_phone, label: "Direct Phone or Ext" %></div>
				<div class="col-md-4"><%= f.input :contact2_mobile, label: "Mobile" %></div>
				<div class="col-md-4"><%= f.input :contact2_email, label: "Email" %></div>
			</div>

			<br>
			<div class="row">
				<div class="col-md-12"><%= f.input :prospect_note, label: "Note" %>
					<br>
					<hr>
					<br>
				</div>
    	</div>

			<div class="row">
				<div class="col-md-6"><%= f.input :hcs_sme_fact_finding_call_date, {:include_blank => true, :default => nil, order: [:month, :day, :year], label: "SME Fact Finding Call" } %></div>
    		<div class="col-md-6"><%= f.input :current_health_benefit_cost, label: "Current Health Benefit Cost" %></div>
    	</div>

			<div class="row">
				<div class="col-md-12"><%= f.input :hcbq_business_type, label: "Nature of Business or SIC Code" %></div>
    	</div>

			<div class="row">
				<div class="col-md-6"><%= f.input :hcbq_no_of_eligible_employees, label: "# of Eligible Employees" %></div>
				<div class="col-md-6"><%= f.input :hcbq_total_participation, label: "Total Participating" %></div>
			</div>

			<div class="row">
				<div class="col-md-6"><%= f.input :hcbq_current_carrier, label: "Current Carrier" %></div>
				<div class="col-md-6"><%= f.input :hcbq_current_coverage_type, collection: [
																																										'Fully Insured',
																																										'Self-funded'
																																										], label: "Current Coverage Type" %>
				</div>
  		</div>
  		
		<%= f.input :current_health_benefit_cost, label: 
		  "1) What is your total annual healthcare expenditure?  (employer & employee contributions)" %><br>
		<%= f.input :hcbq_most_important, label: 
		  "2) For you & your employees, what are the 3 most important elements of your health plan?" %><br>
		<%= f.input :hcbq_sustainable, label: 
		  "3) Do you think the last 3 years of compounding increases in your health benefit costs would be sustainable if continued for the next three years?" %><br>
		<%= f.input :hcbq_oop, label: 
		  "4) Do you think your employees can afford their deductible & out-of-pocket expense under your current plan?" %><br>
		<%= f.input :hcbq_like_best, label: "5) What do you like best about your health plan?" %><br>
		<%= f.input :hcbq_like_least, label: "6) What do you like least about your health plan?" %><br>
		<%= f.input :hcbq_scale, label: "7) On a scale of 1 to 10, how would you rate your current agent/broker/consultant?" %><br>
		<%= f.input :hcbq_perfect_plan, label: "8) If you could design the perfect benefit plan for your company what would it look like?" %><br>
		<%= f.input :hcbq_notes, label: "Additional notes and/or comments" %><br>

		<p><em><strong>Only submit this form once.  Upon submission, Entrust will receive all answers by email and the prospect status will be updated to 'Fact Finding Call Scheduled'</stron></em></p>
	</div>
	
  <div class="panel-footer">
		<%= link_to "Back", prospect_path, class: "btn btn-default" %>
      <%= f.button :submit, class:"btn btn-slate" %>
    <% end %>
  </div>
	
</div>