<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-gray">
  <div class="panel-heading">
		<h4>Add HealthCare Opportunity & Submit Healthcare Profile to Trident Benefits</h4>
  </div>
  <div class="prospect-show">
		<%= simple_form_for @prospect, url: hcsq_update_path, method: :post do |f| %>
			<%= f.hidden_field :hcs_opportunity_status, value: "Prospect Submitted to Trident Benefits" %>
			<%= f.hidden_field :submitted_hcsq, value: 'true' %>
			<%= f.hidden_field :hcs_lead_status, value: 'Submitted' %>
 			<%= f.hidden_field :hcs_prospect, value: 'true' %>

      Prospect: <Strong><%= @prospect.organization %></Strong>
      <br>
      <br>
			<div class="row">
				<div class="col-md-4">Address: <em><%= @prospect.street_address %></em>
				<%if @prospect.address2.nil? %><em>, <%= @prospect.address2 %></em><% end %><br>
				City/State: <em><%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %></em></div>
				<div class="col-md-4">Phone: <em><%= @prospect.phone %></em><br>
				Website: <%if !@prospect.website.nil? %><em><%= link_to @prospect.website, "http://" + @prospect.website, target: "_blank" %></em><% end %></div>
  	  </div>
	    <br>
	    <br>

			<div class="row">
				<div class="col-md-12"><%= f.input :hcbq_business_type, label: "Nature of Business or SIC Code" %></div>
    	</div>

			<div class="row">
				<div class="col-md-6"><%= f.input :hcbq_no_of_eligible_employees, label: "# of Eligible Employees" %></div>
				<div class="col-md-6"><%= f.input :hcbq_total_participation, label: "Total Participating" %></div>
			</div>

			<div class="row">
				<div class="col-md-6"><%= f.input :hcbq_current_carrier, label: "Current Carrier" %></div>
				<div class="col-md-6"><%= f.input :hcbq_current_coverage_type, collection: [
																																										'Fully Insured',
																																										'Self-funded'
																																										], label: "Current Coverage Type" %>
				</div>
  		</div>
  		<br>
		<%= f.input :current_health_benefit_cost, label: 
		  "What is your total annual healthcare expenditure?  (employer & employee contributions)" %><br>
		<!--<%#= f.input :hcbq_most_important, label: -->
		<!--	"2) For you & your employees, what are the 3 most important elements of your health plan?" %><br>-->
		<%= f.input :hcbq_sustainable, label: 
		  "Do you think the last 3 years of compounding increases in your health benefit costs would be sustainable if continued for the next three years?" %><br>
		<!--<%#= f.input :hcbq_oop, label: -->
		<!--  "4) Do you think your employees can afford their deductible & out-of-pocket expense under your current plan?" %><br>-->
		<!--<%#= f.input :hcbq_like_best, label: "5) What do you like best about your health plan?" %><br>-->
		<!--<%#= f.input :hcbq_like_least, label: "6) What do you like least about your health plan?" %><br>-->
		<%= f.input :hcbq_scale, label: "On a scale of 1 to 10, how would you rate your current agent/broker/consultant?" %><br>
		<!--<%#= f.input :hcbq_perfect_plan, label: "8) If you could design the perfect benefit plan for your company what would it look like?" %><br>-->
		<%= f.input :hcbq_notes, label: "Additional notes and/or comments" %><br>

	</div>
	
  <div class="panel-footer">
  	<div class="row">
	  	<div class="col-md-5"><%= link_to "Back", prospect_path, class: "btn btn-beige" %></div>
	  	<div class="col-md-7"><%= f.button :submit, "Submit HealthCare Profile to Trident Benefits", class:"btn btn-slate btn-block" %></div>
  	</div>
    <% end %>
  </div>
	
</div>
</div>