<div class="col-md-12">
	<div class="panel panel-gray">
	  <div class="panel-heading">

	  	<div class="row">
	  		<div class="col-md-6">
	  			<h4>Listing
						<% if current_user.staff %>
			 				<%= @prospects.count %>
						<% else %>
							All
						<% end %>
					Prospects</h4>
	  		</div>
	  		<div class="col-md-4">
		  		<%= form_tag(prospects_path, :method => "get", id: "search-form") do %>
						<%= text_field_tag :search, params[:search], placeholder: "Search Prospects" %>
						<%= submit_tag "Search", class:"btn btn-slate btn-sm" %>
					<% end %>
				</div>
		  		<div class="col-md-2 pull-right">
		  			<% if current_user.manager || current_user.admin %>
							<%= link_to "Download CSV", prospects_path(format: "csv"), class: "btn btn-beige btn-sm" %>
						<% end %>
						<% if current_user.admin %>
							<%= form_tag import_prospects_path, multipart: true do %><%= file_field_tag :file %><%= submit_tag "Temporary Import CSV", class:"btn btn-danger btn-sm" %><% end %>
						<% end %>
		  		</div>
	  	</div>
	  </div>
	
		<div class="prospect-show table-responsive">
			
			<table class="table index-table table-condensed">
		    <tr class="bordered">
		      <td><strong>Created</strong></td>
		      <td><strong>Consultant</strong></td>
		      <td><strong>Prospect</strong></td>
		      
		      <td>
		      	<% if current_user.staff %>
			      	<div class="status">
				      	<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Shipping Status</strong><span class="caret"></span></a>
								  <ul class="dropdown-menu dropdown-menu-right status-menu" style="list-style: none;">
								    <li><%= link_to "All", prospects_path %></li>
								    <% @shipping_opportunity_status.each do |h| %>
								      <li class="black"><%= link_to "#{h.shipping_opportunity_status}", prospects_path(shipping_opportunity_status: h.shipping_opportunity_status) %></li>
								    <% end %>
								  </ul>
								</li>
							</div>
						<% else %>
							<strong>Shipping Status</strong>
						<% end %>
					</td>
		      
		      <td>
		      	<% if current_user.staff %>
			      	<div class="status">
				      	<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Healthcare Status</strong><span class="caret"></span></a>
								  <ul class="dropdown-menu dropdown-menu-right status-menu" style="list-style: none;">
								    <li><%= link_to "All", prospects_path %></li>
								    <% @hcs_opportunity_status.each do |h| %>
								      <li class="black"><%= link_to "#{h.hcs_opportunity_status}", prospects_path(hcs_opportunity_status: h.hcs_opportunity_status) %></li>
								    <% end %>
								  </ul>
								</li>
							</div>
						<% else %>
							<strong>Healthcare Status</strong>
						<% end %>
					</td>

		      <td>
		      	<% if current_user.staff %>			      	
			      	<div class="status">
				      	<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Instant Pay</strong><span class="caret"></span></a>
								  <ul class="dropdown-menu dropdown-menu-right status-menu" style="list-style: none;">
								    <li><%= link_to "All", prospects_path %></li>
								    <% @pay_status.each do |b| %>
								      <li class="black"><%= link_to "#{b.pay_status}", prospects_path(pay_status: b.pay_status) %></li>
								    <% end %>
								  </ul>
								</li>
							</div>
						<% else %>
							<strong>Instant Pay Status</strong>
						<% end %>
					</td>
				</tr>
				
			  <tbody class="bordered">
					<% @prospects.each do |prospect| %>
						<% if (prospect.user_id == current_user.id) || current_user.staff %>						
					    <tr>
						    <td class="td-left"><%= prospect.created_at.strftime("%m/%d/%Y") %></td>
					      <td class="td-left"><%= prospect.user.advisor_first_name + ' ' + prospect.user.advisor_last_name %></td>
					      <td class="td-left"><em><%= link_to prospect.organization, prospect %></em></td>
					      <td><%= prospect.shipping_opportunity_status %></td>
						    <td><%= prospect.hcs_opportunity_status %></td>
					      <td><%= prospect.pay_status %></td>
					    </tr>
						<% end %>				    
					<% end %>
			  </tbody>
			</table>
			
		</div>

		<div class="panel-footer">
			<%#= will_paginate @prospects, renderer: BootstrapPagination::Rails %>
	 	</div>

	</div>
</div>