<div class="col-md-12">
	<div class="panel panel-gray">
	  <div class="panel-heading">

	  	<div class="row">
	  		<div class="col-md-6">
	  			<h4>Listing
						<% if current_user.manager %>
			 				<%= @prospects.count %>
						<% else %>
							All
						<% end %>
					Prospects</h4>
	  		</div>
	  		<div class="col-md-4">
		  		<%= form_tag(prospects_path, :method => "get", id: "search-form") do %>
						<%= text_field_tag :search, params[:search], placeholder: "Search Prospects" %>
						<%= submit_tag "Search", class:"btn btn-slate btn-sm" %>
					<% end %>
				</div>
		  		<div class="col-md-2 pull-right">
		  			<% if current_user.manager %>
							<%= link_to "Download CSV", prospects_path(format: "csv"), class: "btn btn-beige btn-sm" %>
							<%#= form_tag import_prospects_path, multipart: true do %><%#= file_field_tag :file %><%#= submit_tag "Temporary Import CSV" %><%# end %>
						<% end %>
		  		</div>
	  	</div>
	  </div>
	
		<div class="prospect-show table-responsive">
			
			<table class="table index-table table-condensed">
		  	<tr class="bordered">
		  		<td colspan="3"></td>
					<% if !current_user.branch? %>
			  		<td>&nbsp;</td>
			  		<td colspan="4"><strong>HealthCare Savings</strong></td>
					<% end %>
					<% if !current_user.entrust? %>
			  		<td>&nbsp;</td>
			  		<td colspan="4"><strong>Instant Pay</strong></td>
					<% end %>
		  	</tr>

		    <tr class="bordered">
		      <td><strong>Consultant</strong></td>
		      <td><strong>Prospect</strong></td>
			    <td><strong>Employees</strong></td>
			    
					<% if !current_user.branch? %>
				    <td>&nbsp;</td>
			      <td><strong>Next Action<br>Date</strong></td>			      
			      <td><strong>Next Action</strong></td>
			      <td><strong>Renewal Month</strong></td>
			      <td>
			      	<div class="status">
				      	<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Status </strong><span class="caret"></span></a>
								  <ul class="dropdown-menu dropdown-menu-right status-menu" style="list-style: none;">
								    <li><%= link_to "All", prospects_path %></li>
								    <% @status.each do |h| %>
								      <li class="black"><%= link_to "#{h.status}", prospects_path(status: h.status) %></li>
								    <% end %>
								  </ul>
								</li>
							</div>
						</td>
					<% end %>
					
					<% if !current_user.entrust? %>
				    <td>&nbsp;</td>
			      <td><strong>Submitted<br>to Branch</strong></td>
			      <td><strong>Next Action<br>Date</strong></td>
			      <td><strong>Next Action</strong></td>
			      <td>
			      	<div class="status">
				      	<li class="dropdown">
								  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Status </strong><span class="caret"></span></a>
								  <ul class="dropdown-menu dropdown-menu-right status-menu" style="list-style: none;">
								    <li><%= link_to "All", prospects_path %></li>
								    <% @pay_status.each do |b| %>
								      <li class="black"><%= link_to "#{b.pay_status}", prospects_path(pay_status: b.pay_status) %></li>
								    <% end %>
								  </ul>
								</li>
							</div>
						</td>
					</tr>
				<% end %>
				
			  <tbody class="bordered">
					<% @prospects.each do |prospect| %>
						<% if (prospect.user_id == current_user.id) || current_user.manager %>
					    <tr>
	
					      <td class="td-left">
					      	<%= prospect.user.advisor_first_name + ' ' + prospect.user.advisor_last_name %>
					      </td>
					      
					      <td class="td-left">
					     		<em><%= link_to prospect.organization, prospect %></em>
					      </td>
					      <td><%= prospect.employees %></td>

								<% if !current_user.branch? %>
									<td>&nbsp;</td>
						      <td><% if !prospect.hcs_next_action_date.nil? %>
						      			<%= prospect.hcs_next_action_date.strftime("%m/%d/%Y") %>
						      		<% end %>
						      </td>
						      <td><%= prospect.hcs_next_action %></td>
						      <td><%= prospect.renewal_month %></td>
						      <td><%= prospect.status %></td>
						    <% end %>
					    
					    	<% if !current_user.entrust? %>
									<td>&nbsp;</td>
              		<td style="vertical-align:middle">
              	  <% if prospect.pay_submitted_to_branch? %><span class="glyphicon glyphicon-ok"></span><% end %></td>
						      <td><% if !prospect.pay_next_action_date.nil? %><%= prospect.pay_next_action_date.strftime("%m/%d/%Y") %><% end %></td>
					      	<td><%= prospect.pay_next_action %></td>
					      	<td><%= prospect.pay_status %></td>
						    <% end %>					      
					    </tr>
						<% end %>

					<% end %>
			  </tbody>

			</table>
			
		</div>

		<div class="panel-footer center">
			<%= will_paginate @prospects, renderer: BootstrapPagination::Rails %>
	 	</div>

	</div>
</div>