<div class="col-md-8 col-md-offset-2">
	<div class="panel panel-gray">
	  <div class="panel-heading">
	  </div>
	  <div class="prospect-show">
			<%= simple_form_for @prospect, url: new_lead_create_path do |f| %>

			<div class="row">
				<div class="col-md-6"><%= f.input :organization, required: true, autofocus: true, label: "Prospect Company or Organization Name" %></div>
				<div class="col-md-6"><%= f.input :user_id, required: true, collection: User.collection, label: "Consultant Name", include_hidden: false %></div>
			</div>
			<div class="row">
				<div class="col-md-8"><%= f.input :street_address %></div>
				<div class="col-md-4"><%= f.input :address2, label: "Suite # (etc)" %></div>		
			</div>
			<div class="row">
				<div class="col-md-4"><%= f.input :city %></div>
				<div class="col-md-4"><%= f.input :state, collection: STATES %></div>
				<div class="col-md-4"><%= f.input :zip %></div>
			</div>
			<div class="row">
				<div class="col-md-4"><%= f.input :phone %></div>
				<div class="col-md-4"><%= f.input :website %></div>
				<div class="col-md-4"><%= f.input :employees, label: "Employees" %></div>
			</div>
			<div class="row">
				<div class="col-md-4"><%= f.input :contact1_first_name, label: "Contact First Name" %></div>
				<div class="col-md-4"><%= f.input :contact1_last_name, label: "Last Name" %></div>
				<div class="col-md-4"><%= f.input :contact1_title, label: "Title" %></div>
			</div>

			<div class="row">
				<div class="col-md-4"><%= f.input :contact1_email, label: "Contact Email" %></div>
			</div>


			<br>
			<div class="row">
				<div class="col-md-6 center">
					<br>
					<h4><strong><u>Please Select Meeting Type</strong> <em>(select only one)</em></u></h4><strong>
					<br>
					<%= f.check_box :hcs_prospect, id: "myHCSCheck", onclick: "myHCSFunction()" %> HealthCare Meeting 
					&nbsp; &nbsp; OR &nbsp; &nbsp; 
					<%= f.check_box :pay_prospect, id: "myPayCheck", onclick: "myPayFunction()" %> Instant Pay Meeting</strong>				
					<br>
					<br>
					<div id="hcs" style="display:none"><%= render 'new_lead_hcs_form', f: f %></div>
					<div id="pay" style="display:none"><%= render 'new_lead_pay_form', f: f %></div>
				</div>
				<div class="col-md-3">
					<%= f.input :intelatek_day, collection: DAYS, label: "Day" %>
					<%= f.input :intelatek_time, collection: TIMES, label: "Time" %>
					<%= f.input :intelatek_timezone, collection: true, collection: [
																									'Eastern',
																									'Central',
																									'Mountain',
																									'Arizona',
																									'Pacific'
																									], label: "TimeZone" %>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<%= f.input :intelatek_bda, required: true, collection: [
																									'Betty White',
																									'Chris Cunningham',
																									'Debbie Clark',
																									'Lisa Moore',
																									'Maria Wright',
																									'Michelle Lee',
																									'Nancy White',
																									'Sharon Green'																									
																									], label: "IntelaTek BDA" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"><%= f.input :intelatek_notes, label: "Notes" %></div>
			</div>
		</div>
    <div class="panel-footer">
			<%= f.button :submit, "Submit Meeting", class:"btn btn-slate btn-lg btn-block" %>
			<% end %>
    </div>
	</div>
</div>