<% if current_user.shipstore || current_user.staff %>
	<div class="col-md-12">
		<div class="panel panel-gray">
		  <div class="panel-heading">
	
		  	<div class="row">
		  		<div class="col-md-5">
						<h4>Shipping Prospects</h4>
			  	</div>
		  		<div class="col-md-7">
			  		<%= form_tag(shipstore_path, :method => "get", id: "search-form") do %>
							<%= text_field_tag :search, params[:search], placeholder: "Search Prospects" %>
							<%= submit_tag "Search", class:"btn btn-slate btn-sm" %>
						<% end %>
					</div>
		  	</div>
		  </div>
	
			<div class="prospect-show table-responsive">
				<table class="table index-table table-condensed">
				  <thead>
				    <tr>
				    	<th>Created</th>
				      <th>Consultant</th>
				      <th>Prospect</th>
							<th>
				      	<div class="status">
					      	<li class="dropdown">
									  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Lead Status</strong><span class="caret"></span></a>
									  <ul class="dropdown-menu dropdown-menu-right status-menu" style="list-style: none;">
									    <li><%= link_to "All", shipstore_path %></li>
									    <% @shipping_lead_status.each do |h| %>
									      <li class="black"><%= link_to "#{h.shipping_lead_status}", shipstore_path(shipping_lead_status: h.shipping_lead_status) %></li>
									    <% end %>
									  </ul>
									</li>
								</div>				      
				      </th>

							<th>
				      	<div class="status">
					      	<li class="dropdown">
									  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Opportunity Status</strong><span class="caret"></span></a>
									  <ul class="dropdown-menu dropdown-menu-right status-menu" style="list-style: none;">
									    <li><%= link_to "All", shipstore_path %></li>
									    <% @shipping_opportunity_status.each do |h| %>
									      <li class="black"><%= link_to "#{h.shipping_opportunity_status}", shipstore_path(shipping_opportunity_status: h.shipping_opportunity_status) %></li>
									    <% end %>
									  </ul>
									</li>
								</div>				      
				      </th>
				      
				      <th>Next Action</th>				      
				    </tr>
				  </thead>
					
				  <tbody class="bordered">
						<% @prospects.each do |prospect| %>
					    <tr>
					      <td class="td-left">
					      	<%= prospect.created_at&.strftime("%m/%d/%Y") %>
					      </td>
					      <td class="td-left">
					      	<%= prospect.user&.advisor_name %>
					      </td>
					      
					      <td class="td-left">
					     		<em><%= link_to prospect.organization, prospect %></em>
					      </td>
					      <td>
					      	<%= prospect.shipping_lead_status %> &nbsp;
					      	<%= link_to shipping_lead_status_path(prospect) do %><i class="glyphicon glyphicon-pencil"></i><% end %>
					      </td>
					      <td>
					      	<%= prospect.shipping_opportunity_status %>
					      </td>
					      
					      <td class="td-left">
					      	<% if !prospect.shipping_next_action_date.nil? %>
				      			<% if prospect.shipping_next_action_date < Date.today %>
				      				<div class="alert-alert">
				      			<% else %>
				      				<div>
				      			<% end %>
				      			<%= prospect.shipping_next_action_date.strftime("%m/%d/%Y") %> - <%= prospect.shipping_next_action %>
				      			</div>
				      		<% end %>
					      </td>
					    </tr>
						<% end %>
	
				  </tbody>
				</table>
				
			</div>
	
			<div class="panel-footer center">
				<%= will_paginate @prospects, renderer: BootstrapPagination::Rails %>
		 	</div>
	
		</div>
	</div>
<% end %>	