<div class="col-md-8 col-md-offset-2">
  
	<div class="panel panel-gray">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-8">
        <p class="header-title"><%= @prospect.organization %></p>
      </div>
      
      <% if !current_user.shipstore && !current_user.entrust && !current_user.branch %>
        <div class="col-md-4">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-slate">Add New Opportunity</button>
            <button type="button" class="btn btn-slate dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <% if !@prospect.hcs_prospect %>
              	<li><%= link_to "Add HealthCare Opportunity", hcs_path(@prospect) %></li>      
              <% end %>
              <% if !@prospect.shipping_prospect %>
              	<li><%= link_to "Add Shipping Opportunity", shipping_profile_path(@prospect) %></li>      
              <% end %>
              <% if !@prospect.pay_prospect %>
              	<li><%= link_to "Add Instant Payments Opportunity", pay_path(@prospect) %></li>      
              <% end %>
              <% if !@prospect.vcp_prospect %>
              	<li><%= link_to "Add Accounts Payable Opportunity", vcp_path(@prospect) %></li>      
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    
    </div>
    <div class="row">
      <div class="col-md-12"><p class="prospect-posted-by"><em>Prospect created on
        <%= @prospect.created_at.strftime("%m/%d/%Y") %>, last updated on
        <% if !@prospect.comments.last.nil? %>
          <% if @prospect.comments.last.updated_at > @prospect.updated_at %>
        	  <%= @prospect.comments.last.updated_at.strftime("%m/%d/%Y") %></em></p>
          <% else %>
        	  <%= @prospect.updated_at.strftime("%m/%d/%Y") %></em></p>
          <% end %>
        <% else %>
        	<%= @prospect.updated_at.strftime("%m/%d/%Y") %></em></p>
    		<% end %>
  		</div>
    </div>
  </div>
  <div class="prospect-show">
    Prospect: <Strong><%= @prospect.organization %></Strong>
    <br>
    <br>    
    
    <div class="row">
			<div class="col-md-4">Address: <em><%= @prospect.street_address %></em>
				<%if @prospect.address2.nil? %><em>, <%= @prospect.address2 %></em><% end %><br>
				City/State: <em><%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %></em><br>
				Website: <%if !@prospect.website.nil? %><em><%= link_to @prospect.website, "http://" + @prospect.website, target: "_blank" %></em><% end %>
			</div>
      <div class="col-md-4">
        Phone: <em><%= @prospect.phone %></em><br>
      	Employees: <em><%= @prospect.employees %></em><br>
      	Annual Revenue: <em><%= @prospect.annual_revenue %></em>      	
  	  </div>
  	</div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4">
        <strong>Contact 1</strong><br>
        Name: <em><%= @prospect.contact1_first_name %> <%= @prospect.contact1_last_name %></em><br>
        Title: <em><%= @prospect.contact1_title %></em><br>
        Phone: <em><%= @prospect.contact1_phone %></em><br>
        Mobile: <em><%= @prospect.contact1_mobile %></em><br>
        Email: <%if !@prospect.contact1_email.nil? %>
          <em><%= link_to @prospect.contact1_email, "mailto:" + @prospect.contact1_email %></em><% end %>
      </div>
      <div class="col-md-4">
        <strong>Contact 2</strong><br>
        Name: <em><%= @prospect.contact2_first_name %> <%= @prospect.contact2_last_name %></em><br>
        Title: <em><%= @prospect.contact2_title %></em><br>
        Phone: <em><%= @prospect.contact2_phone %></em><br>
        Mobile: <em><%= @prospect.contact2_mobile %></em><br>
        Email: <%if !@prospect.contact2_email.nil? %>
          <em><%= link_to @prospect.contact2_email, "mailto:" + @prospect.contact2_email %></em><% end %>
      </div>
      <div class="col-md-2">
		    <%= link_to "Edit & Update", edit_prospect_path(@prospect), class: "btn btn-warning btn-sm" %>
  	  </div>
  	</div>
  	<br>
  	<br>
    <div class="row">
      <div class="col-md-12">Prospect Notes: <em><%= @prospect.prospect_notes %></em></div>
    </div>
    <br>

    <p>&nbsp;</p>
    
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Select Opportunity</a></li>
      <% if @prospect.hcs_prospect? && !current_user.shipstore && !current_user.branch %>
      	<li><a data-toggle="tab" href="#health">HealthCare</a></li>      
      <% end %>
      <% if @prospect.shipping_prospect? && !current_user.entrust && !current_user.branch %>
      	<li><a data-toggle="tab" href="#ship">Shipping</a></li>     
      <% end %>
      <% if @prospect.pay_prospect? && !current_user.shipstore && !current_user.entrust %>
        <li><a data-toggle="tab" href="#pay">Instant Pay</a></li>   
      <% end %>
      <% if @prospect.vcp_prospect? && !current_user.shipstore && !current_user.entrust && !current_user.branch %>
      <li><a data-toggle="tab" href="#ap">Accounts Payable</a></li>  
      <% end %>
    </ul>
    
    <div class="tab-content">
      <div id="health" class="tab-pane fade">
        <%= render 'prospects/hcs_show' %>
      </div>
      <div id="ship" class="tab-pane fade">
       	<%= render 'prospects/shipping_show' %> 
      </div>
      <div id="pay" class="tab-pane fade">
       	<%= render 'prospects/pay_show' %> 
      </div>
      <div id="ap" class="tab-pane fade">
       	<%= render 'prospects/vcp_show' %> 
      </div>
    </div>

	</div>
	
  <div class="panel-footer">
    <% if !current_user.shipstore && !current_user.entrust && !current_user.branch %>
  		<%= link_to "Back", prospects_path, class: "btn btn-beige btn-sm" %>
  		<%= link_to "Delete", prospect_path(@prospect), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
  	<% end %>	
  </div>	

</div>