<div class="col-md-6 col-md-offset-3">
  
	<div class="panel panel-gray">
  <div class="panel-heading">
  </div>
  <div class="prospect-show">  
    
    <div class="row">
      <div class="col-md-6"><h2><%= @prospect.organization %></h2></div>
      <div class="col-md-6"><h4>Status: <%= @prospect.status %></h4></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12"><p class="prospect-posted-by">Posted by <%= @prospect.user.advisor_first_name + ' ' +
  		@prospect.user.advisor_last_name %> <%= time_ago_in_words(@prospect.created_at) %> ago  
  		and last updated <%= time_ago_in_words(@prospect.updated_at) %> ago.</p></div>    
    </div>
  	<br>
    <div class="row">
      <div class="col-md-6">
        Address: <%= @prospect.street_address %><br>
        Address2: <%= @prospect.address2 %><br>
      	Address3: <%= @prospect.city %>, <%= @prospect.state %> <%= @prospect.zip %>
      </div>
      <div class="col-md-6">    
      	Phone: <%= @prospect.phone %><br>
      	Website: <%= @prospect.website %><br>
      	Employees: <%= @prospect.employees %>
  	  </div>
  	</div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <strong>Contact 1</strong><br>
        Name: <%= @prospect.contact1_first_name %> <%= @prospect.contact1_last_name %><br>
        Title: <%= @prospect.contact1_title %><br>
        Phone: <%= @prospect.contact1_phone %><br>
        Mobile: <%= @prospect.contact1_mobile %><br>
        Email: <%= @prospect.contact1_email %>
  		</div>
      <div class="col-md-6">		
        <strong>Contact 2</strong><br>
        Name: <%= @prospect.contact2_first_name %> <%= @prospect.contact2_last_name %><br>
        Title: <%= @prospect.contact2_title %><br>
        Phone: <%= @prospect.contact2_phone %><br>
        Mobile: <%= @prospect.contact2_mobile %><br>
        Email: <%= @prospect.contact2_email %>
  		</div>
  	</div>
  	<br>
    <div class="row">
      <div class="col-md-12">Prospect Note: <%= @prospect.prospect_note %></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <br>
  
    <div class="row">
      <div class="col-md-6">
        Intro Pres Date: <% if !@prospect.intro_presentation_date.nil? %>
  		  <%= @prospect.intro_presentation_date.strftime("%m/%d/%Y") %><% end %>
  		  <br>
  		  Intro Presented by: <%= @prospect.intro_presenter %>      
      </div>
      <div class="col-md-6">
        SME Fact Finding Call: <% if !@prospect.hcs_sme_fact_finding_call_date.nil? %>
  		  <%= @prospect.hcs_sme_fact_finding_call_date.strftime("%m/%d/%Y") %><% end %><br>
  		  Subject Matter Expert: <%= @prospect.hcs_sme %><br>
        Proposal Meeting: <% if !@prospect.hcs_sme_proposal_meeting_date.nil? %>
  		  <%= @prospect.hcs_sme_proposal_meeting_date.strftime("%m/%d/%Y") %><% end %>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        Current Health benefit Cost: <%= number_to_currency(@prospect.current_health_benefit_cost, precision: 0) %><br>
        New Est Health Benefit Cost: <%= number_to_currency(@prospect.new_estimated_health_benefit_cost, precision: 0) %><br>
        Savings Percentage: <% if (@prospect.new_estimated_health_benefit_cost / @prospect.current_health_benefit_cost) > 0.00001 %>
  	    <%= number_to_percentage((@prospect.new_estimated_health_benefit_cost / @prospect.current_health_benefit_cost)*100, precision: 1) %><% end %><br>    
      </div>
      <div class="col-md-6">
        Agreement Date: <% if !@prospect.agreement_date.nil? %>
  			<%= @prospect.agreement_date.strftime("%m/%d/%Y") %><% end %>
  			<br>
    	  Effective Date: <% if !@prospect.effective_date.nil? %>
  			<%= @prospect.effective_date.strftime("%m/%d/%Y") %><% end %>
      </div>
    </div>
  
    <br>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>
    <br>
    
    <div class="row">
      <div class="col-md-12">
        <strong>Comments</strong>
    		<p><%= render @prospect.comments %></p>
        <br>
        <%= render 'comments/form' %>
      </div>
    </div>

	</div>
	
  <div class="panel-footer">
		<%= link_to "Back", prospects_path, class: "btn btn-default" %>
		<%= link_to "HCSQ", hcsq_path(@prospect), class: "btn btn-warning" %>
		<%= link_to "Edit & More Fields", edit_prospect_path(@prospect), class: "btn btn-warning" %>
		<%= link_to "Delete", prospect_path(@prospect), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>	

</div>