    <nav class="navbar navbar-default navbar-fixed-top text-shadow">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <%= link_to image_tag("bclogo.png", alt: "logo"), '/', class: 'navbar-brand' %>
            <!--<h3><strong>Blue Coast CRM</strong></h3>-->
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">

    				<% if user_signed_in? %>

              <% if current_user.intelatek %>
    					  <li><%= link_to intelatek_path do %><i class="glyphicon glyphicon-knight"></i> IntelaTek<% end %></li>
              <% end %>      

              <li><%= link_to home_path do %><i class="fa fa-home"></i> Home<% end %></li>
              
              <% if current_user.manager %>
    					  <li><%= link_to dashboard_path do %><i class="glyphicon glyphicon-th"></i> Dashboard<% end %></li>
    					  <li><%= link_to users_path do %><i class="fa fa-users"></i> Users<% end %></li>
    					<% end %>
    					
              <% if current_user.staff %>    					  
                <li><%= link_to new_user_path, class: "nav-link" do %><i class="fa fa-user-plus"></i> Add User<% end %></li>    					  
              <% end %>

              <!--<li class="nav-item dropdown">-->
              <!--  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
              <!--    Services-->
              <!--  </a>-->
              <!--  <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
              <!--    <ul class="nav">-->
              <!--    <li><#%= link_to healthcare_savings_path do %><i class="fa fa-user-md"></i> HealthCare<#% end %></li>-->
              <!--    <li><#%= link_to healthcare_savings_path do %><i class="glyphicon glyphicon-warning-sign"></i> Coming Soon<#% end %></li>-->
              <!--    <li><#%= link_to healthcare_savings_path do %><i class="glyphicon glyphicon-warning-sign"></i> Coming Soon<#% end %></li>                  -->
              <!--    </ul>-->
              <!--  </div>-->
              <!--</li>-->

              <li>
                <% if current_user.shipstore %>
                  <%= link_to shipstore_path, class: 'nav-link' do %><i class="fa fa-crosshairs"></i> Prospects<% end %>
                <% elsif current_user.entrust %>
                  <%= link_to entrust_path, class: 'nav-link' do %><i class="fa fa-crosshairs"></i> Prospects<% end %>              
                <% elsif current_user.branch %>
                  <%= link_to branch_path, class: 'nav-link' do %><i class="fa fa-crosshairs"></i> Prospects<% end %>
                <% elsif current_user.admin %>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-crosshairs"></i> Prospects</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <ul class="nav">
                      <li><%= link_to prospects_path, class: 'nav-link' do %> All Prospects<% end %></li>
                      <li><%= link_to shipstore_path, class: 'nav-link' do %> Shipping<% end %></li>
                      <li><%= link_to entrust_path, class: 'nav-link' do %> HealthCare<% end %></li>
                      <li><%= link_to branch_path, class: 'nav-link' do %> Instant Pay<% end %></li>                  
                    </ul>
                  </div>                
                <% else %>
                  <%= link_to prospects_path, class: 'nav-link' do %><i class="fa fa-crosshairs"></i> Prospects<% end %>
                <% end %>
              </li>


              <% if !current_user.shipstore && !current_user.entrust && !current_user.branch %>            
                <li><%= link_to new_prospect_path, class: "nav-link" do %><i class="fa fa-user-plus"></i> Add Prospect<% end %></li>
              <% end %>
              
    					<li><%= link_to edit_user_registration_path do %><i class="fa fa-gear"></i> <%= current_user.advisor_name  %><% end %></li>

    					<li><%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-lock"></i> Sign out<% end %></li>

    				<% else %>

    					<!--<li><%#= link_to new_user_registration_path do %><i class="fa fa-user-plus"></i> Sign up<#% end %></li> -->

    					<!--<li><%#= link_to new_user_session_path do %><i class="fa fa-unlock"></i> Log in<%# end %></li>-->
    					
    				<% end %>
          </ul>
        </div>
      </div>
    </nav>